 	<footer class="footer">
 		<br/>
        <%= link_to image_tag('facebook.png', :class => 'facebook-img'), "https://www.facebook.com/pages/Sigma-Nu-Epsilon-Lambda/131659513620443" %>
        <p class="inline">&copy; Sigma Nu Epsilon Lambda 2014</p>
        <%= link_to image_tag('twitter.png', :class => 'twitter-img'), "https://twitter.com/SigmaNu_Utah" %>
        <hr class="small-width" />
        <p>Sigma Nu - Epsilon Lambda Chapter 103</p>
        <address>95 S Wolcott Street, Salt Lake City, UT, 84102</address>
        <small>Built by <a href="http://www.bytenel.com">Ben Nelson</a></small>
    </footer>