 	<footer class="footer">
        <p>&copy; Sigma Nu Epsilon Lambda 2014</p>
        <small>Built by <a href="http://www.bytenel.com">Ben Nelson</a></small>
        <hr class="small-width" />
        <p>Sigma Nu - Epsilon Lambda Chapter 103</p>
        <address>95 S Wolcott Street, Salt Lake City, UT, 84102</address>
        <%= image_tag 'facebook.jpeg', :class => 'facebook-img' %>
        <%= image_tag 'twitter.jpeg', :class => 'twitter-img' %>
    </footer>