<% if item_counter == 0 %>
 <div class="item active">
<% else %>
 <div class="item">	
<% end %>
 <%= image_tag(item.img_url, { :class => "carousel-image"}) %>
     <div class="carousel-caption">
       <h1><%= item.title %></h1>
       <p><%= item.description %></p>
       <%= link_to "Learn more", item, { :class => "btn btn-large btn-primary" } %>
     </div>
</div>
