<div class="well sidebar-nav">
   <h3>Recent News</h3>
    <ul class="nav nav-list">
      <% @news_items.each do |item| %>
        <li><%= link_to item.title, item  %></li>
      <%  end %>
    </ul>
</div>
