<% content_for :main_content do %>

<small><i>“I think the most important thing 
of all, for any team, is a winning 
attitude. The coaches must have it. 
The players must have it. The student 
body must have it.” 
– Paul “Bear” Bryant, alumnus 
and former head football coach, 
University of Alabama </i></small>
<br/>
	<div id="about">
Since our founding on January 1, 1869, at the Virginia Military Institute 
in Lexington, Va., Sigma Nu Fraternity has been a pioneer in the 
fraternal world.
Originally founded and known to this day as The Legion of Honor, Sigma Nu is 
the only social fraternity in existence founded in firm opposition to hazing and 
based on the principle of Honor.
Sigma Nu is the first general college fraternity to offer risk reduction policies and 
a comprehensive membership education program, remaining committed to both 
our mission and vision for over 140 years.
<br />
	<b>VALUES</b><br/>
Love, Honor, Truth<br/>
<b>MISSION</b><br/>
To develop ethical leaders inspired by the principles of Love, Honor 
 and Truth.<br/>
To foster the personal growth of each man’s mind, heart and character.<br/>
To perpetuate lifelong friendships and commitment to the Fraternity.<br/>
<b>VISION</b><br/>
Excelling with Honor<br/>
<b>CREED</b><br/>
To Believe in the Life of Love,<br/>
To Walk in the Way of Honor,<br/>
To Serve in the Light of Truth – <br/>
This is the Life, the Way and the Light of Sigma Nu.<br/>
This is the Creed of Our Fraternity. <br/>

<br />
	Academics are valued throughout the Sigma Nu organization. It is the belief 
of Sigma Nu Fraternity that our members are students first and foremost, 
and fraternity men second. 
<br />
	The LEAD Program is Sigma 
Nu’s award-winning ethical 
leadership development 
program. The purpose of 
LEAD is to develop ethical 
leaders for society by fostering 
the growth of the mind, 
heart, and character of 
Sigma Nu members. 

<br />
In 2004, Sigma Nu Fraternity established the Helping Hand 
Initiative, the official international philanthropic and service 
effort of Sigma Nu. The Helping Hand Initiative consists of two 
primary components: Founders’ Month-of-Service and 
the Helping Hand Partners. 
The month of April is the Founders’ Month-of-Service, to coincide with the April 1 
birth date of founder Greenfield Quarles. 
The Helping Hand Partners consists of three philanthropic and service-based 
organizations whose efforts are closely related to the mission of Sigma Nu. 
The Helping Hand Partners are:<br/>  
American Heart Association <br/> Habitat-for-Humanity<br/> 
St. Jude Children’s Research Hospital
	</div>
<% end %>