<% content_for :main_content do %>
<div id="recruitment">
	<b>VALUES</b><br/>
Love, Honor, Truth<br/>
<b>MISSION</b><br/>
To develop ethical leaders inspired by the principles of Love, Honor 
 and Truth.<br/>
<br />
	Sigma Nu transforms society through the commitment of its
members to the Fraternity’s founding principles, leadership and
ethical living.
<b>EXCELLENCE</b><br/>
Sigma Nu’s organizational structures and internal operations
provide for the effective deployment of resources to deliver an
unmatched level of service to its constituents<br/>.
<b>GROWTH</b><br/>
Sigma Nu is continually increasing its membership and
capabilities as it creates and capitalizes on new markets and
opportunities that support the Fraternity’s mission<br/>.
<b>MEMBERSHIP VALUE</b><br/>
Sigma Nu enhances the experience of its members and builds a
sense of community in a way that generates a desire to invest
time, talent, and treasure in the development of both the
organization and its future members which is recognized by all as
a contribution to the greater good.
<br />
<br />
	Cras auctor tellus non convallis volutpat. Pellentesque at magna sit amet leo porta vulputate. Maecenas metus ante, ultrices vel arcu ut, tincidunt condimentum nisi. Curabitur consequat arcu vel nibh pretium sollicitudin. Nunc elit leo, convallis ut metus nec, rutrum tempor nunc. Proin posuere ipsum non ipsum tincidunt posuere. Praesent ultrices malesuada sem quis ultrices. Vestibulum convallis, dui at malesuada dictum, nulla nulla varius nibh, sit amet pharetra ligula ligula eget ante. Etiam sed pulvinar dolor. Integer gravida lorem urna, et ornare nisl ultrices vel. Sed dignissim diam sodales, pretium turpis sit amet, sagittis ante.
<br />
	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam et tincidunt mauris, quis lacinia nulla. In magna sem, consequat nec molestie et, mattis eget tellus. Morbi eget sapien eget tellus sagittis tincidunt. Nullam eu mi vel massa feugiat facilisis sed ac elit. Etiam sollicitudin dolor quis nibh tristique ornare. Donec tristique consequat aliquam. Mauris lobortis aliquet metus sit amet tincidunt. Nulla nec mauris sed ante vulputate volutpat. Aenean dapibus sit amet felis ornare venenatis. In sit amet ipsum ut velit rhoncus semper. Nunc euismod erat non vulputate suscipit.
</div>
<% end %>