<% content_for :main_content do %>

<div id="dashboard">
	<div class="info_panel col-md-3">
	this is where a users info will be displayed
	such as address, phone number, year in school
	if they're on academic probabtion or in trouble
	with dues, officer title, etc.
	</div>

	<div class="activity_feed col-md-6">
	this will display notifications for the user to share with
	the rest of the house. you will be able to post statuses 
	like facebook and communicate with members.
	</div>

	<div class="utility_panel col-md-3">
	this will display other resources such as a link
	to the mass text app, the u of u sports schedules,
	the intermural schedules, etc.
	</div>
</div>
<% end %>