.center-padded-table{
	padding-top: 12px !important; /* bootstrap gets added in last by rails so we need !important */
	text-align: center !important;
}

.center{
	text-align: center !important;
}

.forum {
	margin-bottom: 50px;
}

.forum a:hover{
	color:#CC9900;
	background: none;
}

.forum a:visited{
	color:#CC9900;
}